<nav class=" navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand " href="# ">My Awesome Site</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
  <span class="navbar-toggler-icon "></span>
</button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item active ">
                <a class="nav-link " href="# ">Todo <span class="sr-only ">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Tic Tac Toe</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Nimm Game</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Maths Trivia</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">WDYK</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="# ">Read Manga</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>