<app-navbar>
</app-navbar>

<!-- <div class="container-fluid"> -->


<!-- <div>
        <h1 appMyDirective>Using a custom directive to change font color</h1>

        <mat-checkbox [value]="" checked="checked">Subscribe to Newsletter</mat-checkbox>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Coins</th>
        </tr>
        <tr *ngFor="let coin of coins">
            <td>{{coin.id}}</td>
            <td>{{coin.name}}</td>
        </tr>
    </table>
</div> -->

<router-outlet></router-outlet>